#v {
 width:500px;
 height:500px; 
}

#qr-canvas {
  display: none;
}

#result {
  display:none;
}

.inthemiddle {
  width:80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}